In [5]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('card_orig.csv')

In [7]:
df.head()

,card_number,expiry_date,card_provider,date_payment_confirmed
0,30060773296197,09/26,Diners Club / Carte Blanche,2015-11-25
1,349624180933183,10/23,American Express,2001-06-18
2,3529023891650490,06/23,JCB 16 digit,2000-12-26
3,213142929492281,09/27,JCB 15 digit,2011-02-12
4,502067329974,10/25,Maestro,1997-03-13

In [8]:
df.shape

(15309, 4)

In [9]:
def clean_card_number(card_number):
    return ''.join(char for char in str(card_number) if char.isdigit())

# Apply the cleaning function to the 'card_number' column
df['card_number'] = df['card_number'].apply(clean_card_number)

In [10]:
df.shape

(15309, 4)

In [ ]:
cleaned_df = df.copy()  # Create a copy to avoid modifying the original DataFrame
cleaned_df.to_csv('store_data_orig.csv')
        # cleaned_df = cleaned_df.drop_duplicates()
        # print(cleaned_df.shape)
cleaned_df.replace({'continent': ['eeEurope', 'eeAmerica']}, {'continent': ['Europe', 'America']}, inplace=True)
cleaned_df['opening_date'] = pd.to_datetime(cleaned_df['opening_date'], infer_datetime_format=True, errors='coerce')
cleaned_df.drop(columns='lat', inplace=True)
cleaned_df['staff_numbers'] = cleaned_df['staff_numbers'].str.replace(r'[a-zA-Z]', '', regex=True)
cleaned_df['staff_numbers'] = pd.to_numeric(cleaned_df["staff_numbers"], errors='coerce')
cleaned_df["longitude"] = pd.to_numeric(cleaned_df["longitude"], errors='coerce')
cleaned_df["latitude"] = pd.to_numeric(cleaned_df["latitude"], errors='coerce')
        
        cleaned_df = cleaned_df.replace('N/A', np.nan)
        cleaned_df = cleaned_df.replace('NULL', np.nan)
        cleaned_df.dropna(subset=['opening_date', 'store_type','staff_numbers'], inplace=True)